/* google poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Work+Sans&display=swap");

/*---------------------------------------------------------
 global section css
 ---------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  margin: 0 auto;
  border: 1px solid rebeccapurple;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  /* font-family: "Work Sans", sans-serif; */
}

/* header-top, nav and banner section css start */
.header {
  margin: 50px 120px;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  padding: 10px 20px;
}
.nav ul li a:hover {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: darkslategray;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.header-banner {
  background: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  width: calc(100% - 100px);
  margin-bottom: 16px;
}
.banner-btn {
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 15px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.banner-btn .banner-i {
  vertical-align: middle;
  margin-left: 5px;
}
.header-banner .banner-img img {
  width: 100%;
}

/* main section css start */

/* ad section css */
.ad-section {
  margin: 60px 165px;
}
.ads {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  border-image-slice: 1;
  padding: 20px 60px;
}
.ad a img {
  width: 100%;
}

/* popular section css start */
.popular-section {
  margin: 0 200px;
}
.popular-title {
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 30px;
}
.collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  grid-gap: 30px;
}
.collection {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collection-title {
  font-weight: 500;
  font-size: 24px;
  color: #18191f;
  padding-top: 15px;
}
.collection-price {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}
.collection-rating {
  font-weight: 700;
  font-size: 14px;
  color: #5e6366;
}
.collection-description {
  font-weight: 700;
  font-size: 14px;
  color: #787885;
  padding-bottom: 15px;
}
.collection-img img {
  width: 100%;
  height: 100%;
}
.next-btn {
  text-align: right;
  margin-top: 30px;
}
.next-btn a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: rgba(224, 44, 109, 0.87);
  vertical-align: middle;
}
.next-i {
  vertical-align: middle;
}

/* Featured section CSS start */

.featured-section {
  margin: 100px 165px;
}
.featured-product {
  display: flex;
  gap: 96px;
}
.featured-product .featured-img img {
  width: 404px;
  height: 270px;
}
.featured-title {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}
.featured-description {
  font-weight: 700;
  font-size: 12px;
  color: #6c6c6c;
  width: calc(100% - 60px);
  margin-top: 16px;
}
.featured-btn {
  padding: 10px 24px;
  width: 155px;
  height: 44px;
  background: #e02c6d;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  margin-top: 16px;
}
